.img-bg{
    background: url('../public//globe.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.wrapper{
    background: #000000bc;
}
.btn{
    color: #fff;
    border: 1px solid rgb(8 101 111);

}
.btn-success{
    background: rgb(8 101 111);
    border: 1px solid rgb(8 101 111);
}
.btn-outline-success{
    border: 1px solid rgb(8 101 111);
}
.btn-outline-success:hover, .btn-success:hover{
    background: rgb(8 101 111);
    border: 1px solid rgb(8 101 111);
}