.img-bg{
    background: url('../public//globe.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.wrapper{
    background: #000000bc;
}
.btn-success{
    background: #14f195;
    color: #000;
}